.header
{
 display: flex;
 flex-direction: row;
 height: 80px;
 flex:1;
 background-color: rgb(100, 180, 204);
 border-bottom: solid;
 box-shadow: 0px 0.5px 1px;
 border-bottom-color:rgb(255, 255, 255);
 border-bottom-width:0.5px ;
padding-top: 20px;
  
}
.leftsec
{
    padding-top: 5px;
    width: 20px;
    padding-left: 10px;
    
}
.logoimg
{
    height:70px ;
    border: solid;
    border-width: 0.5px;
    border-radius: 50px;
    border-color: rgb(176, 176, 176);
}
.search-bar
{
margin-top:20px;
margin-left:100px;
height: 39px;
width: 300;
padding-left: 15px;
font-weight: 400;
border-radius: 2px;
font-size: 17px;
box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}
.search-bar::placeholder
{
   font-family:Roboto,Arial;
   font-size: 15px;
}
.search-button
{
margin-top: 20px;
   margin-left: 0px;
   border:solid;
   border-width: 1px;
   border-color: rgb(194, 194, 194);
   box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
   background-color: rgb(247, 247, 247);
   border-radius: 2px;
   height: 39px;
   width: 62px;
}
.search-img
{
   margin-top: 2px;
   height: 20px;
}
.plan{
    font-weight: bold;
    font-size: 18px;
    margin-top: -20px;
    text-wrap: nowrap;
    color: rgb(48, 48, 48);
}
.plan:hover{
    cursor: pointer;
    color: rgb(113, 113, 113);
}
.sb{
    width: 100px;
    height: 50px;
    background-color:rgb(228, 228, 228);
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    padding-right:16px ;
    padding-left: 16px;
    padding-top:10px ;
    padding-bottom:10px ;
    margin-top: 18px;
    margin-right: 8px ;
    margin-left: 700px;
    transition: opacity 0.15s,box-shadow 0.15s;
    }
    .sb:hover
    {
        color:rgb(100, 180, 204) ;
        background-color: rgb(113, 113, 113);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    }

    .sb:active
    {
      margin-left:3px;
      margin-top: 3px;
      opacity:0.6
    }